{% extends 'base.html' %}
{% block header %}
<header class="masthead">
  <div class="container px-4 px-lg-5 my-4 text-center">
    <div class="site-heading mb-3">
      <h1>{{ site_title }}</h1>
    </div>
    <img src="{{ config.site.hero_image_url }}" alt="Hero image"
         class="img-fluid rounded-top mx-auto">
  </div>
</header>
{% endblock %}
{% block content %}
{% for post in posts %}
<div class="post-preview">
  <a href="{{ base_url }}{{ post.url }}">
    <h2 class="post-title">{{ post.title }}</h2>
  </a>
  <p class="post-meta">{{ post.date }}</p>
</div>
<hr class="my-4" />
{% endfor %}
{% if total_pages > 1 %}
<div class="d-flex justify-content-end mb-4">
  {% if current_page < total_pages %}
  <a class="btn btn-primary text-uppercase" href="{{ base_url }}page/{{ current_page + 1 }}.html">Older Posts →</a>
  {% endif %}
</div>
{% endif %}
{% endblock %}
