{% extends 'base.html' %}
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <article>
                {{ content | safe }}
            </article>
            <hr class="my-4" /> {# Divider after the article content #}

            {# Optional: Navigation for next/previous post #}
            <div class="d-flex justify-content-between mb-4">
                {% if prev_post %}
                    <a class="btn btn-primary text-uppercase" href="{{ base_url }}{{ prev_post.path }}">← {{ prev_post.title }}</a>
                {% else %}
                    <span></span> {# Empty span to maintain space #}
                {% endif %}
                {% if next_post %}
                    <a class="btn btn-primary text-uppercase" href="{{ base_url }}{{ next_post.path }}">{{ next_post.title }} →</a>
                {% else %}
                    <span></span> {# Empty span to maintain space #}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
