{% extends 'base.html' %}

{% block header %}
{% set hero = config.site.hero_image_url %}
<header class="masthead" {% if hero %}style="background-image: url('{{ hero }}');"{% endif %}>
  <div class="container px-4 px-lg-5 my-4 text-center">
    <div class="page-heading">
      <h1>Tag: {{ tag_name }}</h1>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
{% if posts %}
{% for post in posts %}
<div class="post-preview">
  <a href="{{ base_url }}{{ post.url }}">
    <h2 class="post-title">{{ post.title }}</h2>
  </a>
  <p class="post-meta">{{ post.date_str }}</p>
</div>
<hr class="my-4" />
{% endfor %}
{% else %}
<p>No posts found with this tag.</p>
{% endif %}
<p class="mt-5"><a href="{{ base_url }}tags.html">&larr; View all tags</a></p>
{% endblock %}
