{% extends 'base.html' %}

{% block header %}
<header class="masthead" style="background-image: url('{{ config.site.hero_image_url }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Tag: {{ tag_name }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
{% if posts %}
{% for post in posts %}
<div class="post-preview">
  <a href="{{ base_url }}{{ post.url }}">
    <h2 class="post-title">{{ post.title }}</h2>
  </a>
  <p class="post-meta">{{ post.date_str }}</p>
</div>
<hr class="my-4" />
{% endfor %}
{% else %}
<p>No posts found with this tag.</p>
{% endif %}
<p class="mt-5"><a href="{{ base_url }}tags.html">&larr; View all tags</a></p>
{% endblock %}
