{% extends 'base.html' %}

{% block header %}
<header class="masthead" {% if hero %}style="background-image: url('{{ hero }}');"{% endif %}>
  <div class="container px-4 px-lg-5 my-4 text-center">
    <div class="page-heading">
      <h1>All Tags</h1>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
{% if tags %}
  <ul class="list-unstyled">
    {% for tag_info in tags %}
    <li class="mb-2">
      <a href="{{ base_url }}{{ tag_info.url }}" class="fs-5 text-decoration-none">
        {{ tag_info.name }}
      </a>
      <span class="text-muted">({{ tag_info.count }} post{% if tag_info.count > 1 %}s{% endif %})</span>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No tags found.</p>
{% endif %}
{% endblock %}
